header{
    padding: 60px 0 40px 0;
    text-align: center;
    font-size: 72px;
    text-transform: uppercase;
}

header h1{
    padding-top: 0px;
}

main{
    padding: 20px 0 80px 0;
    margin: auto;
    width: 980px;
}

footer{
    padding: 40px 0;
    margin: auto;
    width: 980px;
    font-size: 16px;
    text-transform: uppercase;
}


.main-link{
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
}

.main-loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    background-image: url("/media/imgs/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    z-index: 1000;
}

.description p{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 12px;
    margin-bottom: 4px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    display: none;
}

.modal:before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle;
}

.modal > div{
    display: inline-block;
    vertical-align: center;
    background-color: #fff;
    width: 400px;
    padding: 32px 32px;
}

.modal.error h1{
    padding: 0;
    color: #cc4444;
}

.modal.error{
    font-size: 20px;
    line-height: 22px;
}

.modal.error > div > div{
    margin-top: 32px;
}














